<div class="container row">
  <div class="col-6">
    <div class="container col" style="margin-top: 20%;">
      <div class="row">  
        <div class="col-4"><br></div>
        <div class="col-4">
          <img src="https://www.iiitb.ac.in/includefiles/userfiles/images/iiitb_logo.png" style="width:200px" alt="">
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row" style="margin-top: 5%;">
        <div class="col-3"></div>
        <div class="col-8">
          <p><b>CS-816 Software Production Engineering</b></p>
          <i>Mini Project - Scientific Calculator with DevOps</i>
          <p>Submitted By : Jayprakash Ray [MT2021060]</p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <div class="base main">
        <div class="display">
          <div class="sub-display">sub-display</div>
          maindisplay
        </div>
        <div class="keypad">
          <table style="width: 100%;">
            <tr>
              <td class="keys ckey" colspan="3" >C</td>
              <td class="keys opkey"(click)="sqroot()" colspan="1">√x</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="keyPress(7)">7</td>
              <td class="keys numkey" (click)="keyPress(8)">8</td>
              <td class="keys numkey" (click)="keyPress(9)">9</td>
              <td class="keys opkey" >x!</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="keyPress(4)">4</td>
              <td class="keys numkey" (click)="keyPress(5)">5</td>
              <td class="keys numkey" (click)="keyPress(6)">6</td>
              <td class="keys opkey" >ln</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="keyPress(3)">3</td>
              <td class="keys numkey" (click)="keyPress(2)">2</td>
              <td class="keys numkey" (click)="keyPress(1)">1</td>
              <td class="keys opkey" >^</td>
            </tr>
            <tr>
              <td colspan="3" class="keys numkey" (click)="keyPress(0)">0</td>
              <td class="keys equalkey" >=</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>